/*Maroon Background*/
body {
  background-color:#500000;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

iframe {
  text-align:center;
}
p {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}
