/*Maroon Background*/
body {
  background-color:#500000;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

h3 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

p {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

#UTCTime {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

