/*Maroon Background*/
body {
  background-color:#500000;
  margin: 10px 100px 100px 100px;
}

/*Floating Div Domain and Click-through*/
#container {
	position:absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;    
}


/*Headings*/
h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

h2 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

h3 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#A69B6F;
  /*Insetting text*/
  /*position: absolute;
  margin: 2px 0 0 2px;
  content:attr(title);
  color: #fff;
  opacity: 0.2
  filter:alpha(opacity=20);*/
}

h4 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

h5 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

h6 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

p {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
}

/*Clocks*/
#UTCTime {
  /*font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;*/
  width:100%;
}

/*div centering*/
/*div {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}*/

/*Button for Product Section #1*/
#bt1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
margin-left: auto;
margin-right: auto;
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 5px outset;
/*display: none;*/
}

/*Button for Product Section #2*/
#bt2 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
margin-left: auto;
margin-right: auto;
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 5px outset;
}

/*Button for Product Section #3*/
#bt3 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
margin-left: auto;
margin-right: auto;
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 5px outset;
}

/*Button for Product Section #4*/
#bt4 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
margin-left: auto;
margin-right: auto;
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 5px outset;
}

/*Button for Product Section #5*/
#bt5 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
margin-left: auto;
margin-right: auto;
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 5px outset;
}

/*Button for Product Section #6*/
#bt6 {
  font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
margin-left: auto;
margin-right: auto;
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 5px outset;
}

/*START Displayboard Scripts*/

/*Centering the Image Animators (Not sure if this works yet)*/
#haniscentering {
	width:100%;
}

#sub1 {
  /*position:relative; margin: -50px -50px; width:1000px; top:50%; left:50%;*/
  
position: absolute;
left: 9%;/*300px*/
top: 25%; /*250px*/
right: 10%;
/*width: 280px;*/
padding: 10px;
width: 80%; /*700px;*/
height: 700px;
/*margin-left: auto;
margin-right: auto;*/
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 10px groove;
display: none;

/*Floating Div Compatibility?*/
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;     
user-select: none;
}

#sub2 {
  /*position:relative; margin: -50px -50px; width:1000px; top:50%; left:50%;*/
  
position: absolute;
left: 9%;/*300px*/
top: 25%; /*250px*/
right: 10%;
/*width: 280px;*/
padding: 10px;
width: 80%; /*700px;*/
height: 700px;
/*margin-left: auto;
margin-right: auto;*/
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 10px groove;
display: none;

/*Floating Div Compatibility?*/
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;     
user-select: none;
}

#sub3 {
  /*position:relative; margin: -50px -50px; width:1000px; top:50%; left:50%;*/
  
position: absolute;
left: 9%;/*300px*/
top: 25%; /*250px*/
right: 10%;
/*width: 280px;*/
padding: 10px;
width: 80%; /*700px;*/
height: 700px;
/*margin-left: auto;
margin-right: auto;*/
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 10px groove;
display: none;

/*Floating Div Compatibility?*/
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;     
user-select: none;
}

#sub4 {
  /*position:relative; margin: -50px -50px; width:1000px; top:50%; left:50%;*/
  
position: absolute;
left: 9%;/*300px*/
top: 25%; /*250px*/
right: 10%;
/*width: 280px;*/
padding: 10px;
width: 80%; /*700px;*/
height: 700px;
/*margin-left: auto;
margin-right: auto;*/
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 10px groove;
display: none;

/*Floating Div Compatibility?*/
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;     
user-select: none;
}

#sub5 {
  /*position:relative; margin: -50px -50px; width:1000px; top:50%; left:50%;*/
  
position: absolute;
left: 9%;/*300px*/
top: 25%; /*250px*/
right: 10%;
/*width: 280px;*/
padding: 10px;
width: 80%; /*700px;*/
height: 700px;
/*margin-left: auto;
margin-right: auto;*/
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 10px groove;
display: none;

/*Floating Div Compatibility?*/
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;     
user-select: none;
}

#sub6 {
  /*position:relative; margin: -50px -50px; width:1000px; top:50%; left:50%;*/
  
position: absolute;
left: 9%;/*300px*/
top: 25%; /*250px*/
right: 10%;
/*width: 280px;*/
padding: 10px;
width: 80%; /*700px;*/
height: 700px;
/*margin-left: auto;
margin-right: auto;*/
background-color: #500000;
text-align: center;
color: #EDDD9E;
border: #EDDD9E 10px groove;
display: none;

/*Floating Div Compatibility?*/
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;     
user-select: none;
}

 /*END Displayboard Script*/
 
/*#productswitchboard {
  height:20px; position:relative; margin: -20px -50px; width:100px; top:50%; left:50%;*/
  /*font-family: Arial, sans-serif;
  text-align: center;
  color:#EDDD9E;
  background-color: #500000;
  margin-left: auto;
  margin-right: auto;
  border: #EDDD9E 5px outset;*/
}

/*#wrapper {
	min-height:100%;
	position:relative;
}

.box {
	width:800px;
	margin:0 auto;
}

#footer {
	top: 1%;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	background-color: #500000;
}*/


